body, p, ul, h1{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;

}
.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
}

.container-1{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 1rem 3rem 0;
}
.container-1 .nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}
.nav-bar .logo{
    font-size: 1.5rem;
    color: #f9FAF8;
}
.nav-bar .links, a{
    font-size: 1.125rem;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    gap: 1em;
    text-decoration: none;
}

.container-1 .section {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-bottom: 4rem;

}
.section .content {
    max-width: 450px;

}
.content h1{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #F9FAF8;
    line-height: 0.95em;
    margin-bottom: 0.25em;
}
.content p {
    color: #F9FAF8;
    font-size: 1.125rem;
    margin-bottom: 0.35em;
}
.content button {
    font-size: 1.05rem;
    padding: 0.25em 1.5em;
    border: 1px solid #3882F6;
    border-radius: 0.3em;
    min-width: 30%;
    background-color: #3882F6;
    color: #F9FAF8;

}
.section .image {
    background-color: #aaa;
    width: 70vw;
    height: 5vh;
    font-size: 1rem;
    padding: 3em;
    text-align: center;
}


.container-2 {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    align-items: center;
    padding-bottom: 4rem;

}
.container-2 p {
    font-size: 2.25rem;
    font-weight: bolder;
    color: #1F2937;
    margin: 0.5em;
}
.container-2 .picture{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}
.picture .pic {
    width: 10vh;
    height: 10vh;
    border: 2px solid #3882F6;
    border-radius: 0.5em;
}
.container-2 .info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.info .text {
    font-size: 1rem;
    width: 10vh;
    height: 10vh;
    text-align: center;
}

.container-3 {
    background-color: #E5E7EB;
    padding: 4rem;
    align-items: center;
}
.container-3 .quote{
    text-align: center;
    font-size: 1.75em;
    font-style: italic;
    color: #1F2937;
}
.container-3 .name{
    text-align: right;
    color:#1F2937;
    font-size: 1.125rem;
    margin: 0.75em;
    font-style: italic;
}

.container-4 {
    background-color: #F9FAF8;
    padding: 4rem;
}
.container-4 .section{
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    justify-content: space-between;
    padding: 2rem 4rem;
    border-radius: 0.5rem;
}
.section .action{
    color:#F9FAF8;

}
.action .bold{
    font-weight: bold;
}
.container-4 .sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 0.5em;
    padding: 0.5em 2em;
}